<div class="container color-dark">
  <div class="col">
    <p>Add ToDo Task</p>
  </div>

  <div class="col">
    <p>ToDo List {{itemcounter}}</p>
  </div>

</div>


<div class="container color-light" [@projects] = "projects.length">
  <div class="col">
    <h2>Use this too to add your todo list and also to remove the todo list</h2>


    <form>
      <input type="text" class="text" name="projectname" placeholder="Enter the task here" [(ngModel)] = "projecttext" />
      <br>
            <input type="submit" class="btn" value="Add task you want" (click)="additem()"/>
    </form>
  </div>

  <div class="col">
    <p class="project-container" *ngFor = "let item of projects; let i=index" (click)="removeitem(i)">
    {{item}}
    </p>
  </div>
</div>
